apiVersion: apps/v1
kind: Deployment
metadata:
  name: giropops-v1
spec: 
  replicas: {{ numeros_replicas_new_version }}
  selector:
    matchLabels:
      app: giropops
  template: 
    metadata:
      labels:
        app: giropops
        version: {{ version_new }}
      annotations:
        prometheus.io/scraps: "{{ prometheus_scrape }}"
        prometheus.io/port: "{{ prometheus_port }}"
    spec:
      containers:
      - name: giropops
        image: linuxtips/nginx-prometheus-exporter:{{ version_old }}
        env:
        - name: VERSION
          value: {{ version_new }}
        ports:
        - containerPort: {{ nginx_port }}
        - containerPort: {{ prometheus_port }}